<tr>
	<td>
		<table style="width: 100%">
			<tbody>
				<tr>
					<td style="width: 200px"></td>
					<td style="width: 200px">
						<a
							href="{{link}}"
							style="text-decoration: none; color: {{color}};"
						>
							<div
								style="
									background: {{backgroundColor}};
									border-radius: 40px;
									padding-top: 15px;
									padding-bottom: 15px;
									padding-right: 20px;
									padding-left: 20px;
									text-align: center;
									font-size: large;
									color: {{color}};
								"
							>
								{{text}}
							</div>
						</a>
					</td>
					<td style="width: 200px"></td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
