<tr>
	<td style="{{style}}">
		<table style="width: 100%; max-width: 600px">
			<tbody>
				<tr>
					<td style="padding: 0px 0px; width: 33%; max-width: 200px"></td>
				
					<td style="padding: 0px 0px">
						<a target="_blank" href="{{whatsAppLink}}"><img
								src="https://mpvuwb.stripocdn.email/content/assets/img/messenger-icons/logo-white/whatsapp-logo-white.png"
								alt="Whatsapp" title="Whatsapp" width="32" height="32" />
						</a>
					</td>
					<td style="padding: 0px 0px">
						<a target="_blank" href="{{facebookLink}}"><img
								src="https://mpvuwb.stripocdn.email/content/assets/img/social-icons/logo-white/facebook-logo-white.png"
								alt="Facebook" title="Facebook" width="32" height="32" /></a>
					</td>
					<td style="padding: 0px 0px">
						<a target="_blank" href="{{linkedInLink}}"><img
								src="https://mpvuwb.stripocdn.email/content/assets/img/social-icons/logo-white/linkedin-logo-white.png"
								alt="LinkedIn" title="LinkedIn" width="32" height="32" /></a>
					</td>
					<td style="padding: 0px 0px">
						<a target="_blank" href="{{websiteLink}}"><img
								src="https://mpvuwb.stripocdn.email/content/assets/img/other-icons/logo-white/link-logo-white.png"
								alt="Website" title="Website" width="32" height="32" /></a>
					</td>
				
					<td style="padding: 0px 0px; width: 33%; max-width: 200px"></td>
				</tr>
				<tr>
					<td 
						style="
							{{style}}
							text-align: center;
							padding-left: 4rem;
							padding-right: 4rem;
						" 
						colspan="6"
					>
						<p>
							{{address}}
						</p>
						<p>
							<a 
								style="
									color: white;
									text-decoration-line: underline;
								" 
								style="
									color: white;
									text-decoration-line: underline;
								" 
								class="text-white underline" 
								href="mailto:{{email}}"
							>
								{{email}}
							</a>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>