<tr style="{{style}}">
	<td>
		<table style="width: 100%; max-width: 600px;">
			<tbody>
				<tr>
					<td style="width: {{sidesWidth}}px"></td>
					<td style="width: {{width}}">
						<a
						{{#if link}}
							href="{{link}}"
						{{/if}}
						>
							<img width="{{width}}" src="{{source}}" alt="Img" />
						</a>
					</td>
					<td style="width: {{sidesWidth}}px"></td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>